/*
 * General
 *
 */
#page { 
  background: url(../images/bg.gif) repeat center -3px; 
}
#site-header-wrapper {
  position: relative;
  width: 100%;
  background: #ffffff;
}

#site-header {
  /* height: 127px; */
  padding-top: 60px;
  margin-top: 0;
}

#site-name a.site-name {
  background: url("../images/logo.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 91px;
  left: 0;
  width: 240px; 
}

#site-description {
  background: url("../images/whats-up-header.png") no-repeat scroll top right transparent;
  position: absolute;
  top: 0;
  right: 0;
  height: 91px;
  width: 422px;
}

#site-description span.site-description,
#site-name a span.site-name {
  display: block;
  text-indent: -9999px;
}

#util-menu {
  position: absolute;
  top: 0;
  min-width: 960px;
  width: 100%;
  background: url("../images/bg-nav-utilities.png") repeat-x scroll 0 0 transparent;
  height: 26px;
}

ul.secondary-menu {
  float: right;
  padding-right: 2em;
  margin-top: 2px;
}

#internal-nav {
  margin-top: 0;
  height: 30px;
  background-color: #4A3650;
  color: #ffffff;
}

#slogan,
#internal-nav #bcrumb {
  margin-bottom: 35px;
  padding: 11px 20px;
}

#main-content-container {
  background: #ffffff;
  margin-top: 0;
/*
  Shadow from image above. We don't have.
  background: url("../images/bg-page-content.jpg") no-repeat scroll 0 0 transparent;
*/
  padding: 35px 0;
}

#main-wrapper h1,
#main-content {
  padding: 0 10px;
}

#sidebar-first .block:first-child,
#sidebar-first .block:first-child a {
  color: #ffffff;
  background: #605270;
}

#sidebar-first .block {
  color: #ffffff;
  background: #CFD1D2;
  padding: 15px 11px 13px;
}

#views-exposed-form-upcoming-page-1 .views-exposed-widget,
#views-exposed-form-upcoming-page-1 .views-exposed-widget input.form-text {
  width: 190px;
}

#views-exposed-form-upcoming-page-1 .form-checkboxes,
#views-exposed-form-upcoming-page-1 .description {
  margin: 0;
  padding: 0;
}

#postscript-wrapper {
  background: url("../images/bg-footer-gradient.png") repeat-x scroll 0 0 #DEDDD7;
  margin-bottom: 0;
  padding: 34px 0 28px 0;
}

#footer-wrapper {
  color: #A0A3A6;
  font-size: 9px;
  line-height: 9px;
  background: none repeat scroll 0 0 #65696E;
  height: 49px;
}

#footer-last {
  padding: 10px 15px;
}

#footer-last div {
  display: inline;
}

#footer-last .block-system-0 {
  display: inline;
  float: left;
}

#footer-last #footer-message {
  color: white;
}

blockquote { 
  padding: 0 30px; 
}
q:before {
  content: '\201C';
}
q:after {
  content: '\201D';
}
blockquote cite { 
  display: inline; margin-left: 5px; 
}

.pane-location-upcoming-panel-pane-1 {
  padding-top: 2em;
  margin-top: 1em;
}

.view-location-upcoming .view-content .even,
.view-location-upcoming .view-content .odd,
.view-upcoming .view-content .even,
.view-upcoming .view-content .odd {
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #E2E2E2;
  min-height: 170px;
  position: relative;  
  padding: 10px;
}

.view-location-upcoming .view-content h2.title,
.view-location-upcoming .view-content div.date,
.view-location-upcoming .view-content div.location,
.view-location-upcoming .view-content div.extension,
.view-upcoming .view-content h2.title,
.view-upcoming .view-content div.date,
.view-upcoming .view-content div.extension,
.view-upcoming .view-content div.location {
  width: 230px;
  float: left;
  clear: left;
}

.view-location-upcoming .view-content div.body,
.view-upcoming .view-content div.body {
  margin-left: 250px;
}

.openlayers-views-map .olControlAttribution {
  bottom: 0.1em;
}
