/*
 * Type
 *
 */
body,
#slogan { 
  font: normal 400 13px/20px /*12px/18px*/ 'Open Sans', sans-serif; 
  color: #656963; 
}

h1, h2, h3, h4, h5, h6 { 
  font-weight: 400; 
}

ul.secondary-menu a {
  color: #E6E6E6;
  text-decoration: none;
}

#slogan,
#bcrumb .breadcrumb,
#bcrumb a {
  color: #FFFFFF;
  font-size: 11px;
  line-height: 11px;
}

#bcrumb a:link,
#bcrumb a:visited,
#bcrumb a:active {
  text-decoration: none;
}

#bcrumb a:hover {
  text-decoration: underline;
}

#page-title {
  font-size: 45px;
  font-weight: 300;
  line-height: 50px;
  margin-bottom: 10px;
  border-color: #4A3650;
  color: #B679B0;
}

h2.pane-title,
.block h2 {
  font-size: 21px;
  font-weight: 300;
  line-height: 25px;
}

.view-location-upcoming h2.title a,
.view-location-upcoming h2.title a:link,
.view-location-upcoming h2.title a:visited,
.view-location-upcoming h2.title a:active,
.view-location-upcoming h2.title a:hover,
.view-location-upcoming h2.title,
.view-upcoming h2.title a,
.view-upcoming h2.title a:link,
.view-upcoming h2.title a:visited,
.view-upcoming h2.title a:active,
.view-upcoming h2.title a:hover,
.view-upcoming h2.title {
  font-size: 21px;
  font-weight: 300;
  line-height: 25px;
  color: #605270;
}

#postscript-wrapper {
  font-size: 10px;
  line-height: 13px;
}

#postscript-wrapper h2 {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

#postscript-wrapper a {
  font-weight: 400;
  text-transform: capitalize;
  color: #65696E;
  text-decoration: none;
}

em { 
  font-style: italic; 
}
strong { 
  color: #21b3b0; 
  text-transform: uppercase; 
  font-weight: 600; 
}
strong.alt { 
  color: #c76520; 
}

