[submodule "themes/zen"]
	path = themes/zen
	url = git://git.drupal.org/project/zen
[submodule "modules/custom/pdfbulletin"]
	path = modules/custom/pdfbulletin
	url = git://github.com/ekes/pdfbulletin.git
[submodule "modules/contrib/date"]
	path = modules/contrib/date
	url = git://git.drupal.org/project/date
[submodule "modules/contrib/feeds"]
	path = modules/contrib/feeds
	url = git://git.drupal.org/project/feeds
[submodule "modules/contrib/views"]
	path = modules/contrib/views
	url = git://git.drupal.org/project/views
