[submodule "themes/zen"]
	path = themes/zen
	url = git://git.drupal.org/project/zen
[submodule "modules/custom/pdfbulletin"]
	path = modules/custom/pdfbulletin
	url = git://github.com/ekes/pdfbulletin.git
[submodule "modules/contrib/date"]
	path = modules/contrib/date
	url = git://git.drupal.org/project/date
[submodule "modules/contrib/feeds"]
	path = modules/contrib/feeds
	url = git://git.drupal.org/project/feeds
[submodule "modules/contrib/views"]
	path = modules/contrib/views
	url = git://git.drupal.org/project/views
[submodule "modules/contrib/ctools"]
	path = modules/contrib/ctools
	url = git://git.drupal.org/project/ctools
[submodule "modules/contrib/job_scheduler"]
	path = modules/contrib/job_scheduler
	url = git://git.drupal.org/project/job_scheduler
[submodule "modules/contrib/mimemail"]
	path = modules/contrib/mimemail
	url = git://git.drupal.org/project/mimemail
[submodule "modules/contrib/cck"]
	path = modules/contrib/cck
	url = git://git.drupal.org/project/cck
[submodule "modules/contrib/wysiwyg"]
	path = modules/contrib/wysiwyg
	url = git://git.drupal.org/project/wysiwyg
[submodule "modules/contrib/parser_ical"]
	path = modules/contrib/parser_ical
	url = git://git.drupal.org/project/parser_ical
[submodule "modules/contrib/semanticviews"]
	path = modules/contrib/semanticviews
	url = git://git.drupal.org/project/semanticviews
[submodule "modules/contrib/views_data_export"]
	path = modules/contrib/views_data_export
	url = http://git.drupal.org/project/views_data_export.git
[submodule "modules/contrib/better_formats"]
	path = modules/contrib/better_formats
	url = git://git.drupal.org/project/better_formats
[submodule "modules/contrib/calendar"]
	path = modules/contrib/calendar
	url = git://git.drupal.org/project/calendar
[submodule "modules/contrib/jquery_ui"]
	path = modules/contrib/jquery_ui
	url = git://git.drupal.org/project/jquery_ui
[submodule "modules/contrib/filefield"]
	path = modules/contrib/filefield
	url = git://git.drupal.org/project/filefield
[submodule "modules/contrib/imagefield"]
	path = modules/contrib/imagefield
	url = git://git.drupal.org/project/imagefield
[submodule "modules/contrib/imagecache"]
	path = modules/contrib/imagecache
	url = git://git.drupal.org/project/imagecache
[submodule "modules/contrib/insert"]
	path = modules/contrib/insert
	url = git://git.drupal.org/project/insert
[submodule "modules/contrib/image_resize_filter"]
	path = modules/contrib/image_resize_filter
	url = git://git.drupal.org/project/image_resize_filter
[submodule "modules/contrib/imageapi"]
	path = modules/contrib/imageapi
	url = git://git.drupal.org/project/imageapi
[submodule "modules/contrib/better_exposed_filters"]
	path = modules/contrib/better_exposed_filters
	url = git://git.drupal.org/project/better_exposed_filters
[submodule "modules/contrib/features"]
	path = modules/contrib/features
	url = git://git.drupal.org/project/features
[submodule "modules/contrib/audiofield"]
	path = modules/contrib/audiofield
	url = git://git.drupal.org/project/audiofield
[submodule "modules/contrib/openlayers"]
	path = modules/contrib/openlayers
	url = git://git.drupal.org/project/openlayers
[submodule "modules/contrib/phone"]
	path = modules/contrib/phone
	url = git://git.drupal.org/project/phone
[submodule "modules/contrib/strongarm"]
	path = modules/contrib/strongarm
	url = git://git.drupal.org/project/strongarm
[submodule "modules/contrib/rules_geocoder"]
	path = modules/contrib/rules_geocoder
	url = git://git.drupal.org/project/rules_geocoder
[submodule "modules/contrib/rules"]
	path = modules/contrib/rules
	url = git://git.drupal.org/project/rules
