[submodule "themes/zen"]
	path = themes/zen
	url = git://git.drupal.org/project/zen
[submodule "modules/custom/pdfbulletin"]
	path = modules/custom/pdfbulletin
	url = git://github.com/ekes/pdfbulletin.git
[submodule "modules/contrib/date"]
	path = modules/contrib/date
	url = git://git.drupal.org/project/date
[submodule "modules/contrib/feeds"]
	path = modules/contrib/feeds
	url = git://git.drupal.org/project/feeds
[submodule "modules/contrib/views"]
	path = modules/contrib/views
	url = git://git.drupal.org/project/views
[submodule "modules/contrib/ctools"]
	path = modules/contrib/ctools
	url = git://git.drupal.org/project/ctools
[submodule "modules/contrib/job_scheduler"]
	path = modules/contrib/job_scheduler
	url = git://git.drupal.org/project/job_scheduler
[submodule "modules/contrib/mimemail"]
	path = modules/contrib/mimemail
	url = git://git.drupal.org/project/mimemail
[submodule "modules/contrib/cck"]
	path = modules/contrib/cck
	url = git://git.drupal.org/project/cck
[submodule "modules/contrib/wysiwyg"]
	path = modules/contrib/wysiwyg
	url = git://git.drupal.org/project/wysiwyg
[submodule "modules/contrib/parser_ical"]
	path = modules/contrib/parser_ical
	url = git://git.drupal.org/project/parser_ical
[submodule "modules/contrib/semanticviews"]
	path = modules/contrib/semanticviews
	url = git://git.drupal.org/project/semanticviews
